.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 6vw;
    border-radius: 15px;
    text-align: center;
    animation: show 1.5s linear ;

}
.box img {
    width: 130px;
    height: 130px;
    border-radius: 15px;
    overflow: hidden;
}
@keyframes show {
    
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 0.5;
    }
  }
@media (width<=570px) {
    .box {
        margin: 30px;
        height: 70%;
        padding: 3vw;
    }
    .box img {
        width: 100px;
        height: 100px;
    }
}



button {
    all: unset;
    background-color: rgb(66, 66, 222);
    color: white;
    padding: 9px;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    align-items: center;
}